---
title: Group
---

<!--Principal Investigator-->
<div class="group-container">
  <h3>Our Team</h3>
  <hr />
  <br />
  <!--Principal Investigator-->
  <div class="group-pi-container">
      <img src="./assets/images/group-profile/Frank_Pugh.jpg" alt="frank" class="group-pi-photo" />
      <div class="group-pi-content">
      <!-- <div class="col-xxl-9 col-xl-8 align-self-center frank-text"> -->
        <h4>Frank Pugh, PhD</h4>
        <hr />
        <h5>Principal Investigator</h5>
        <br />
        <p class="group-pi-blurb">
          We aim to discover molecular mechanisms of gene regulation. The lab
          studies how the transcription machinery assembles at promoters and
          the pivotal role that enhancers play in accelerating this assembly.
        </p>
        <large>
          <strong>location:</strong> 465 Biotechnology Building
          <br />
          <strong>email:</strong> fp265@cornell.edu
          <br />
          <strong>CV:</strong>
          <a href="/assets/docs/FrankPugh_CV.pdf" download>
            <i class="fas fa-file-pdf"></i>
          </a>
        </large>
      </div>
  </div>
  <br />
  <br />
  <!-- MEMBERS (Staff, Postdocs, Graduates students) -->
  <!-- To update, add and remove members from the _data/groupinfo.yml file -->
  <!-- Note: order of inclusion in .yml files affect how the page is populated (left to right, top to bottom) -->
  <!-- Note: CV and website are optional fields -->
  <!-- Note: Need to commit profile picture/image and CV to appropriate assets subdirectory before pushing changes -->
  <div class="group-allmembers-container">
    {% for item in site.data.groupinfo %}
      <div class="group-member-container">
        <h5>{{ item.name }}</h5>
      <hr />
      <div class="group-member-dept">
        <p><strong>{{ item.title }}</strong></p>
      </div>
      <img src="{{ item.imglink }}" alt="{{ item.imgalt }}" class="group-member-photo" />
      <div class="media-body">
        <p class="group-member-blurb">
          {{ item.blurb }}
        </p>
        <small>
          <strong>location:</strong> {{ item.location }}
          <br />
          <strong>email:</strong> {{ item.email }}
          {% if item.cvlink %}
          <br />
          <strong>CV:</strong>
          <a href="{{ item.cvlink }}" download>
            <i class="fas fa-file-pdf"></i>
          </a>
          {% endif %}
          {% if item.website %}
          <br />
          <strong>website:</strong>
          <a href="{{ item.website }}" website>
            <i class="fas fa-link"></i>
          </a>
          {% endif %}
        </small>
      </div>
      &nbsp;
      </div>
    {% endfor %}
  </div>
  &nbsp;

  <!--UNDERGRADS-->
  <h4>Undergraduate Students</h4>
  <hr />
  <br />
    <table width="100%">
      <tr><td>Benjamin Beer</td><td>'28</td></tr>
      <tr><td>Alima Dean</td><td>'27</td></tr>
      <tr><td>Tanya Gupta</td><td>'26</td></tr>
      <tr><td>Hanqing Li</td><td>'25</td></tr>
      <tr><td>Olivia Li</td><td>'26</td></tr>
      <tr><td>Shreya Majumdar</td><td>'26</td></tr>
      <tr><td>Pedro Vera Perez</td><td>'25</td></tr>
      <tr><td>Alex Veldran</td><td>'26</td></tr>
      <tr><td>Grace Wang</td><td>'26</td></tr>
      <tr><td>Ella Yang</td><td>'27</td></tr>
      <tr><td>Dean Zhang</td><td>'25</td></tr>
      <!--New Undergrads go here...-->
      <!-- <tr><td>First Last</td><td>'2X</td></tr> -->
    </table>

  &nbsp;

<!--ALUMNI-->
  <p>
    <button
      class="btn btn-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
      style="
        background: none;
        border: none;
        font-size: 20px;
        font-style: normal;
      "
    >
      <h4><img class="arrow" src="./assets/images/caret-down-fill.svg" />Alumni</h4>
    </button>
  </p>
  <hr />
  <!-- <script>
    document
      .getElementsByClassName("btn btn-light")
      .addEventListener("click", function () {
        var arrow = this.querySelector(".arrow");
        arrow.classlist.toggle("rotate");
      });
  </script> -->

  <div class="collapse" id="collapseExample">
    <div class="card card-body" style="border: none">
      <div class="row">
        <div class="center">
          <table>
            <!-- <tr><td>Frederico</td><td>Fazan</td><td>Grad Student</td><td>PBSB</td><td>2023-2024+</td></tr> -->
            <!-- <tr><td>Matthew</td><td>McDermott</td><td>Staff, Lab Technician</td><td></td><td>2023-2024+</td></tr> -->
            <!-- <tr><td>Devin</td><td>Mellini</td><td>Staff, Lab Technician</td><td></td><td>2023-2024+</td></tr> -->
            <!-- <tr><td>Joshua</td><td>Wendall</td><td>Staff, Lab Technician</td><td></td><td>2023-2024+</td></tr> -->
            <!-- <tr><td>Olivia</td><td>Cheung</td><td>Undergraduate</td><td></td><td>2023-2024+</td></tr> -->
            <!-- <tr><td>Kaitlyn</td><td>Lee</td><td>Undergraduate</td><td></td><td>2023-2024+</td></tr> -->
            <!-- <tr><td>Hanqing</td><td>Lee</td><td>Undergraduate</td><td></td><td>2023-2024+</td></tr> -->
            <!-- <tr><td>Olivia</td><td>Li</td><td>Undergraduate</td><td></td><td>2023-2024+</td></tr> -->
            <!-- <tr><td>Alex</td><td>Veldran</td><td>Undergraduate</td><td></td><td>2023-2024+</td></tr> -->
            <!-- <tr><td>Benjamin</td><td>Beer</td><td>High School Student</td><td></td><td>2023-2024+</td></tr> -->
            <!-- <tr><td>Amy</td><td>Lyndaker</td><td>Lab Manager - EGC</td><td></td><td>2022-2024+</td></tr> -->
            <!-- <tr><td>Catie</td><td>Smugerezki</td><td>Staff, Lab Technician</td><td></td><td>2022-2024+</td></tr> -->
            <!-- <tr><td>Tanya</td><td>Gupta</td><td>Undergraduate</td><td></td><td>2022-2024+</td></tr> -->
            <!-- <tr><td>Pedro</td><td>Vera Perez</td><td>Undergraduate</td><td></td><td>2022-2024+</td></tr> -->
            <!-- <tr><td>Dean</td><td>Zhang</td><td>Undergraduate</td><td></td><td>2022-2024+</td></tr> -->
            <!-- <tr><td>Justin</td><td>Cha</td><td>Grad Student</td><td>Comp Bio Cornell</td><td>2021-2024+</td></tr> -->
            <!-- <tr><td>Anne</td><td>Gardner</td><td>Lab Manager</td><td></td><td>2021-2024+</td></tr> -->
            <!-- <tr><td>Rebecca</td><td>Soloway</td><td>Staff, Lab Technician</td><td></td><td>2021-2023</td></tr> -->
            <!-- <tr><td>Olivia</td><td>Lang</td><td>Grad Student</td><td>Comp Bio Cornell</td><td>2019-2024+</td></tr> -->
            <!-- <tr><td>Haining</td><td>Chen</td><td>Grad Student</td><td>BMCB Cornell</td><td>2019-2024+</td></tr> -->
            <!-- <tr><td>Jordan</td><td>Krebs</td><td>Grad Student</td><td>MD/PhD</td><td>2019-2020</td></tr> -->
            <tr><td>Courtney</td><td>LeSon</td><td>Undergraduate</td><td></td><td>2022-2024+</td></tr>
            <tr><td>Mihir</td><td>Ranjan</td><td>Undergraduate</td><td></td><td>2022-2024+</td></tr>
            <tr><td>Paula Marie</td><td>Brown</td><td>Undergraduate</td><td></td><td>2022-2023</td></tr>
            <tr><td>Rebecca</td><td>Kalik</td><td>Undergraduate</td><td></td><td>2023-2023</td></tr>
            <tr><td>Steven</td><td>Wang</td><td>Staff, Lab Technician</td><td></td><td>2022-2023</td></tr>
            <tr><td>Ben </td><td>Terhaar</td><td>Undergraduate</td><td></td><td>2022-2023</td></tr>
            <tr><td>William</td><td>Tsai</td><td>High School Student</td><td></td><td>2022-2022</td></tr>
            <tr><td>Dominic</td><td>Matras</td><td>Undergraduate</td><td></td><td>2022-2022</td></tr>
            <tr><td>Alisa</td><td>Lee</td><td>Grad Student</td><td>GGD</td><td>2020-2022</td></tr>
            <tr><td>Ali</td><td>Nematbakhsh</td><td>Staff, Computer Scientist</td><td></td><td>2019-2022</td></tr>
            <tr><td>Ann</td><td>Basting</td><td>Staff, Lab Technician</td><td></td><td>2019-2020</td></tr>
            <tr><td>Daniela</td><td>James</td><td>Lab Manager</td><td></td><td>2018-2020</td></tr>
            <tr><td>Randy</td><td>Blanda</td><td>Staff, Lab Technician</td><td></td><td>2018-2020</td></tr>
            <tr><td>Danielle</td><td>James (Asquino)</td><td>Staff, Lab Technician</td><td></td><td>2018-2020</td></tr>
            <tr><td>Joshua</td><td>Mairose</td><td>Staff, Lab Technician</td><td></td><td>2018-2020</td></tr>
            <tr><td>Sarah</td><td>Dweikat</td><td>Staff, Lab Technician</td><td></td><td>2018-2019</td></tr>
            <tr><td>Hui</td><td>Mao</td><td>Staff, Lab Technician</td><td></td><td>2018-2019</td></tr>
            <tr><td>Julia</td><td>Cipparulo</td><td>Undergraduate</td><td></td><td>2018-2019</td></tr>
            <tr><td>Kyle</td><td>Nilson</td><td>Postdoctoral fellow</td><td></td><td>2017-2022</td></tr>
            <tr><td>Prashant</td><td>Kuntala</td><td>Staff, Computer Scientist</td><td></td><td>2017-2019</td></tr>
            <tr><td>Olivia</td><td>Scruton_Muly</td><td>Undergraduate</td><td></td><td>2017-2019</td></tr>
            <tr><td>Sarita</td><td>Greer</td><td>Staff, Admin. Asst.</td><td></td><td>2017-2018</td></tr>
            <tr><td>Abeer</td><td>Almutairy</td><td>Staff, Computer Scientist</td><td></td><td>2017-2018</td></tr>
            <tr><td>Dave</td><td>Rocco</td><td>Staff, Lab Technician</td><td></td><td>2017-2018</td></tr>
            <tr><td>Kyle</td><td>McIlroy</td><td>Undergraduate</td><td></td><td>2017-2018</td></tr>
            <tr><td>Jordan</td><td>John</td><td>Undergraduate</td><td></td><td>2016-2019</td></tr>
            <tr><td>Kylie</td><td>Bocklund</td><td>Lab Manager</td><td></td><td>2016-2018</td></tr>
            <tr><td>Katelyn</td><td>Mistrella</td><td>Staff, Lab Technician</td><td></td><td>2016-2018</td></tr>
            <tr><td>Guanjue</td><td>Xiang</td><td>Grad Student</td><td></td><td>2016-2017</td></tr>
            <tr><td>Emily</td><td>Perkinson</td><td>Staff, Lab Technician</td><td></td><td>2016-2017</td></tr>
            <tr><td>Agustey</td><td>Mongia</td><td>Undergraduate</td><td></td><td>2016-2016</td></tr>
            <tr><td>Linda</td><td>Nguyen</td><td>Undergraduate</td><td></td><td>2016-2016</td></tr>
            <tr><td>Nitika</td><td>Badjatia</td><td>Postdoctoral fellow</td><td></td><td>2015-2020</td></tr>
            <tr><td>Danying</td><td>Shao</td><td>Staff, Computer Scientist</td><td></td><td>2015-2017</td></tr>
            <tr><td>Matthew</td><td>Driban</td><td>Undergraduate</td><td></td><td>2015-2017</td></tr>
            <tr><td>Leo</td><td>Antelo</td><td>Staff, Lab Technician</td><td></td><td>2015-2016</td></tr>
            <tr><td>Geoffrey</td><td>Billy</td><td>Undergraduate</td><td></td><td>2015-2016</td></tr>
            <tr><td>Ingrid</td><td>Ritchie</td><td>Undergraduate</td><td></td><td>2015-2016</td></tr>
            <tr><td>Gretta</td><td>Armstrong</td><td>Staff, IT Project Manager</td><td></td><td>2014-2021</td></tr>
            <tr><td>Chitvan</td><td>Mittal</td><td>Postdoctoral fellow</td><td></td><td>2014-2020</td></tr>
            <tr><td>Nina</td><td>Farrell</td><td>Lab Manager</td><td></td><td>2014-2017</td></tr>
            <tr><td>Han</td><td>Zhang</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>2014-2015</td></tr>
            <tr><td>Kelly</td><td>Pandolpho</td><td>Staff, Lab Technician</td><td></td><td>2014-2015</td></tr>
            <tr><td>Jacob</td><td>Smith</td><td>Undergraduate</td><td></td><td>2014-2015</td></tr>
            <tr><td>John</td><td>McGraw</td><td>Staff, Lab Technician</td><td></td><td>2014-2014</td></tr>
            <tr><td>Vinesh</td><td>Vinayachandran</td><td>Postdoctoral fellow; Assistant Professor</td><td></td><td>2013-2018</td></tr>
            <tr><td>Alain</td><td>Battaile</td><td>Postdoctoral fellow</td><td></td><td>2013-2017</td></tr>
            <tr><td>William</td><td>Lai</td><td>Assistant Professor</td><td></td><td>2012-2024+</td></tr>
            <tr><td>Matthew</td><td>Rossi</td><td>Postdoctoral fellow; Assistant Professor</td><td></td><td>2012-2020</td></tr>
            <tr><td>Rohit</td><td>Reja</td><td>Grad Student</td><td>IBIOS: Genomics and Bioinformatics</td><td>2012-2016</td></tr>
            <tr><td>Bongsoo</td><td>Park</td><td>Staff, Computer Scientist</td><td></td><td>2012-2015</td></tr>
            <tr><td>Ola</td><td>Sodeinde</td><td>Assistant Professor</td><td></td><td>2012-2014</td></tr>
            <tr><td>Justin</td><td>Allshouse</td><td>Lab Manager</td><td></td><td>2012-2014</td></tr>
            <tr><td>Ryan</td><td>Donaghy</td><td>Staff, Lab Technician</td><td></td><td>2012-2013</td></tr>
            <tr><td>Brian</td><td>Perry</td><td>Staff, Lab Technician</td><td></td><td>2012-2013</td></tr>
            <tr><td>Katie</td><td>Peterson</td><td>Staff, Lab Technician</td><td></td><td>2012-2013</td></tr>
            <tr><td>Yunfei</td><td>Li</td><td>Staff, Lab Technician</td><td></td><td>2011-2015</td></tr>
            <tr><td>Kang-(Sol)</td><td>Han</td><td>Lab Manager</td><td></td><td>2011-2014</td></tr>
            <tr><td>Mike</td><td>Cousar</td><td>Staff, Lab Technician</td><td></td><td>2011-2012</td></tr>
            <tr><td>Fashli</td><td>Aziz</td><td>Undergraduate</td><td></td><td>2011-2011</td></tr>
            <tr><td>Kuangyu</td><td>Yen</td><td>Postdoctoral fellow</td><td></td><td>2010-2016</td></tr>
            <tr><td>Celine</td><td>Han</td><td>Grad Student</td><td>IBIOS: Genomics and Bioinformatics</td><td>2010-2014</td></tr>
            <tr><td>Zhenhai</td><td>Zhang</td><td>Grad Student</td><td>IBIOS: Genomics and Bioinformatics</td><td>2010-2014</td></tr>
            <tr><td>Anna</td><td>Chan</td><td>Staff, Lab Technician</td><td></td><td>2010-2013</td></tr>
            <tr><td>John (JP)</td><td>Dowling</td><td>Staff, Lab Technician</td><td></td><td>2010-2011</td></tr>
            <tr><td>Coral</td><td>Martinez-Correa</td><td>Staff, Lab Technician</td><td></td><td>2010-2011</td></tr>
            <tr><td>Charles</td><td>Meade</td><td>Staff, Lab Technician</td><td></td><td>2010-2011</td></tr>
            <tr><td>Dave</td><td>Cantor</td><td>Undergraduate</td><td></td><td>2010-2011</td></tr>
            <tr><td>Megha</td><td>Wal</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>2009-2014</td></tr>
            <tr><td>Gue-Su</td><td>Chang</td><td>Grad Student; Postdoctoral fellow</td><td>IBIOS: Genomics and Bioinformatics</td><td>2009-2014</td></tr>
            <tr><td>Goffman</td><td>Dave</td><td>Staff, Lab Technician</td><td></td><td>2009-2010</td></tr>
            <tr><td>David</td><td>Goffman</td><td>Staff, Lab Technician</td><td></td><td>2009-2010</td></tr>
            <tr><td>Brady</td><td>Mackenzie</td><td>Staff, Lab Technician</td><td></td><td>2009-2010</td></tr>
            <tr><td>Ankit</td><td>Patel</td><td>Undergraduate</td><td></td><td>2009-2009</td></tr>
            <tr><td>Sujana</td><td>Ghosh</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>2008-2013</td></tr>
            <tr><td>Bryan</td><td>Venters</td><td>Grad Student; Postdoctoral fellow</td><td>Biochemistry & Molecular Biology</td><td>2008-2013</td></tr>
            <tr><td>Kiran</td><td>Batta</td><td>Postdoctoral fellow</td><td></td><td>2008-2011</td></tr>
            <tr><td>Matt</td><td>Schaner</td><td>Staff, Lab Technician</td><td></td><td>2008-2011</td></tr>
            <tr><td>Elissa</td><td>Ward</td><td>Staff, Lab Technician</td><td></td><td>2008-2010</td></tr>
            <tr><td>Vanessa</td><td>Boccaccio</td><td>Staff, Lab Technician</td><td></td><td>2008-2009</td></tr>
            <tr><td>Michael</td><td>Devine</td><td>Staff, Lab Technician</td><td></td><td>2008-2009</td></tr>
            <tr><td>Ho-Sung</td><td>Rhee</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>2007-2012</td></tr>
            <tr><td>Liye</td><td>Zhang</td><td>Grad Student</td><td>IBIOS: Cell & Developmental Biology</td><td>2007-2012</td></tr>
            <tr><td>Melissa</td><td>Long</td><td>Grad Student</td><td>IBIOS: Cell & Developmental Biology</td><td>2007-2010</td></tr>
            <tr><td>Shin</td><td>Wachi</td><td>Postdoctoral fellow</td><td></td><td>2007-2010</td></tr>
            <tr><td>Andrew</td><td>Sinnamon</td><td>Undergraduate</td><td></td><td>2007-2009</td></tr>
            <tr><td>Cizjhong</td><td>Jiang</td><td>Postdoctoral fellow</td><td></td><td>2007-2008</td></tr>
            <tr><td>Barb</td><td>Andersen</td><td>Staff, Lab Technician</td><td></td><td>2007-2008</td></tr>
            <tr><td>Priyanka</td><td>Jain</td><td>Staff, Lab Technician</td><td></td><td>2007-2008</td></tr>
            <tr><td>Peony</td><td>Jena</td><td>Staff, Lab Technician</td><td></td><td>2007-2008</td></tr>
            <tr><td>Bora</td><td>Kim</td><td>Undergraduate</td><td></td><td>2007-2008</td></tr>
            <tr><td>Noah</td><td>Rolleri</td><td>Undergraduate</td><td></td><td>2007-2008</td></tr>
            <tr><td>Christine</td><td>Walsh (Hemeryck)</td><td>Lab Manager</td><td></td><td>2006-2012</td></tr>
            <tr><td>Ramaharitha</td><td>Pusarla</td><td>Postdoctoral fellow</td><td></td><td>2006-2009</td></tr>
            <tr><td>Eric</td><td>Samorodnistky</td><td>Grad Student</td><td>IBIOS: Genomics and Bioinformatics</td><td>2005-2010</td></tr>
            <tr><td>Thomas</td><td>Koerber</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>2005-2008</td></tr>
            <tr><td>Travis</td><td>Mavrich</td><td>Staff, Lab Technician</td><td></td><td>2004-2008</td></tr>
            <tr><td>Stephen</td><td>Martin-Tumasz</td><td>Undergraduate</td><td></td><td>2004-2007</td></tr>
            <tr><td>Mauer</td><td>Biscotti</td><td>Undergraduate</td><td></td><td>2004-2006</td></tr>
            <tr><td>Catherine</td><td>Stefaniuk</td><td>Undergraduate</td><td></td><td>2004-2006</td></tr>
            <tr><td>Brandon</td><td>Chicalese</td><td>Staff, Lab Technician</td><td></td><td>2004-2005</td></tr>
            <tr><td>Kivanc</td><td>Birsoy</td><td>Undergraduate</td><td></td><td>2004-2004</td></tr>
            <tr><td>Melissa</td><td>Cunningham (Durant)</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>2002-2006</td></tr>
            <tr><td>Sara</td><td>Zanton</td><td>Lab Manager</td><td></td><td>2002-2006</td></tr>
            <tr><td>Paul</td><td>Gramlich</td><td>Undergraduate</td><td></td><td>2002-2004</td></tr>
            <tr><td>Sol</td><td>Shockman</td><td>Undergraduate</td><td></td><td>2002-2004</td></tr>
            <tr><td>Sandy</td><td>Toh</td><td>Undergraduate</td><td></td><td>2002-2004</td></tr>
            <tr><td>Laura</td><td>Clarke</td><td>Undergraduate</td><td></td><td>2002-2003</td></tr>
            <tr><td>Kathryn</td><td>Huisinga</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>2001-2006</td></tr>
            <tr><td>Jordan</td><td>Irvin</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>2001-2005</td></tr>
            <tr><td>Andrew</td><td>Basehoar</td><td>Grad Student</td><td>Statistics</td><td>2000-2004</td></tr>
            <tr><td>Larry</td><td>Benjamin</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>2000-2004</td></tr>
            <tr><td>Diane</td><td>Alexander</td><td>Undergraduate</td><td></td><td>2000-2003</td></tr>
            <tr><td>Drew</td><td>Lowry</td><td>Undergraduate</td><td></td><td>2000-2002</td></tr>
            <tr><td>Summer</td><td>Sikes</td><td>Staff, Lab Technician</td><td></td><td>2000-2001</td></tr>
            <tr><td>Smita</td><td>Mitra</td><td>Grad Student</td><td>IBIOS: Genomics and Bioinformatics</td><td>1999-2004</td></tr>
            <tr><td>John</td><td>Robinson</td><td>Lab Manager</td><td></td><td>1999-2002</td></tr>
            <tr><td>Kevin</td><td>Halbe</td><td>Undergraduate</td><td></td><td>1999-2000</td></tr>
            <tr><td>Chris</td><td>Wolf</td><td>Undergraduate</td><td></td><td>1999-2000</td></tr>
            <tr><td>Rebecca</td><td>Maag (Holby)</td><td>Undergraduate</td><td></td><td>1998-2000</td></tr>
            <tr><td>Robert (Bob)</td><td>Carter</td><td>Postdoctoral Fellow</td><td></td><td>1998-1999</td></tr>
            <tr><td>Shiva</td><td>Kazerounian</td><td>Undergraduate</td><td></td><td>1997-1997</td></tr>
            <tr><td>Carmelata (Lata)</td><td>Chitikila</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>1996-2001</td></tr>
            <tr><td>Haiping</td><td>Kou</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>1996-2001</td></tr>
            <tr><td>Lumelle</td><td>Schneiweis (Schmiedekamp)</td><td>Undergraduate</td><td></td><td>1996-1999</td></tr>
            <tr><td>Sandeep</td><td>Burma</td><td>Postdoctoral Fellow</td><td></td><td>1996-1998</td></tr>
            <tr><td>Aaron</td><td>Dixon</td><td>Undergraduate</td><td></td><td>1995-1997</td></tr>
            <tr><td>Matthew</td><td>Portnoy</td><td>Undergraduate</td><td></td><td>1995-1997</td></tr>
            <tr><td>jason</td><td>Burak</td><td>Undergraduate</td><td></td><td>1995-1996</td></tr>
            <tr><td>Robert</td><td>Coleman</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>1994-1999</td></tr>
            <tr><td>David</td><td>Kaczorowski</td><td>Undergraduate</td><td></td><td>1994-1997</td></tr>
            <tr><td>Leigh</td><td>Panek (Briley)</td><td>Grad Student</td><td>Biochemistry & Molecular Biology</td><td>1994-1996</td></tr>
            <tr><td>Bruce</td><td>Booth</td><td>Undergraduate</td><td></td><td>1994-1996</td></tr>
            <tr><td>Christopher</td><td>Fanale</td><td>Undergraduate</td><td></td><td>1994-1996</td></tr>
            <tr><td>Paul</td><td>Kwitkin</td><td>Undergraduate</td><td></td><td>1994-1996</td></tr>
            <tr><td>Robert</td><td>Netter</td><td>Undergraduate</td><td></td><td>1994-1996</td></tr>
            <tr><td>Heather</td><td>Wiegand</td><td>Undergraduate</td><td></td><td>1994-1996</td></tr>
            <tr><td>John</td><td>Chicca</td><td>Grad Student</td><td>Molecular & Cell Biology</td><td>1993-1998</td></tr>
            <tr><td>Amy</td><td>Jackson-Fisher</td><td>Grad Student</td><td>Molecular & Cell Biology</td><td>1993-1998</td></tr>
            <tr><td>Christian</td><td>Weideman</td><td>Undergraduate</td><td></td><td>1993-1997</td></tr>
            <tr><td>Jeffrey</td><td>Gerard</td><td>Undergraduate</td><td></td><td>1993-1995</td></tr>
            <tr><td>John</td><td>MacAllister</td><td>Undergraduate</td><td></td><td>1993-1995</td></tr>
            <tr><td>Tim</td><td>Fisher</td><td>Lab Manager</td><td></td><td>1992-1998</td></tr>
            <tr><td>Andrew</td><td>Taggart</td><td>Grad Student</td><td>Microbiology</td><td>1992-1996</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
