---
title: Home
---

{% include header.html %}
<!-- Projects -->
<div class="row mb-2 text-center">
  <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-12">
    <div class="card-index">
      <img
        src="assets/images/YEP.svg"
        class="card-img-top mx-auto d-block"
        alt="yep"
      />
      <div class="card-body">
        <h5>YEP</h5>
        <h6>Yeast Epigenome Project</h6>
        <p class="card-text">
          Comprehensive look at the yeast epigenome through the use of ultra
          high resolution ChIP-exo. Summary of the work is published inNature in
          2021.
        </p>
        <a href="/resources#YEP"
          >Read more <i class="fas fa-external-link-alt"></i
        ></a>
      </div>
    </div>
    <!-- <div
      class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative"
    >
      <div class="col p-3 d-flex flex-column position-static">
        <h3 class="mb-0">PEGR</h3>
        <small>Platform for Epigenetic and Genomic Regulation</small>
        <br />
        <p class="card-text mb-auto">
          A high performant LIMS system engineered to handle large-scale genomic
          sequencing data.
        </p>
        <a href="/resources#PEGR" class="stretched-link"></a>
      </div>
    </div> -->
  </div>

  <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-12">
    <div class="card-index">
      <img
        src="assets/images/PEGR.svg"
        class="card-img-top mx-auto d-block"
        alt="..."
      />
      <div class="card-body">
        <h5>PEGR</h5>
        <h6>Platform for Epigenetic and Genomic Regulation</h6>
        <p class="card-text">
          A high performant LIMS system engineered to handle large-scale genomic
          sequencing data.
        </p>
        <a href="/resources#PEGR"
          >Read more <i class="fas fa-external-link-alt"></i
        ></a>
      </div>
    </div>
    <!-- <div
      class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative"
    >
      <div class="col p-3 d-flex flex-column position-static">
        <h3 class="mb-0">YEP</h3>
        <small>Yeast Epigenome Project</small>
        <br />
        <p class="card-text mb-auto">
          Comprehensive look at the yeast epigenome through the use of
          ultra-high resolution ChIP-exo. Summary of the work is now
          <a
            class="publinks"
            href="https://dx.doi.org/10.1038/s41586-021-03314-8"
            title="pubmed link"
            >published in Nature.</a
          >
        </p>
        <a href="/resources#YEP" class="stretched-link"></a>
      </div>
    </div> -->
  </div>

  <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-12">
    <div class="card-index">
      <img
        src="assets/images/PCRP.svg"
        class="card-img-top mx-auto d-block"
        alt="..."
      />
      <div class="card-body">
        <h5>PCRP</h5>
        <h6>Protein Capture Reagent Program Validation</h6>
        <p class="card-text">
          Community resource of high-quality protein capture reagents to
          understand the critical role of cellular proteins.
        </p>
        <a href="/resources#PCRP"
          >Read more <i class="fas fa-external-link-alt"></i
        ></a>
      </div>
    </div>
    <!-- <div
      class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative"
    >
      <div class="col p-3 d-flex flex-column position-static">
        <h3 class="mb-0">PCRP</h3>
        <small>Protein Capture Reagent Program Validation</small>
        <br />
        <p class="card-text mb-auto">
          Community resource of high-quality protein capture reagents to
          understand the critical role of cellular proteins.
        </p>
        <a href="/resources#PCRP" class="stretched-link"></a>
      </div>
    </div> -->
  </div>
</div>
<img
  src="/assets/images/slide1.png"
  style="padding: 50px"
  class="epigenome-img"
/>

<div class="row" style="padding: 50px">
  <div class="col-md-5 align-self-center">
    <h4>About</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
      perferendis necessitatibus unde facere iusto recusandae alias neque
      cupiditate. Repellendus facere optio sunt reiciendis. Labore blanditiis
      esse voluptate nulla numquam quaerat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
      reprehenderit tempora, minus officiis nostrum esse itaque cumque rerum
      harum facere at quae reiciendis impedit alias optio sequi molestiae
      officia consectetur.
    </p>
  </div>
  <div class="col-md-7">{% include mainSlideShow.html %}</div>
</div>

<!-- slide show -->
