---
title: Publications
---

<div class="container">
  <div class="d-flex flex-column publication-container">
    <!-- Section -->
    <div>
      <h3>Publications</h3>
      <hr />
      <div class="row publication">
        <div class="col-md-1 number">
          <h6>01</h6>
        </div>
        <div class="col-md-11">
          <h6>
            Genome-wide promoter assembly in E. coli measured at single-base
            resolution.
          </h6>
          <small>
            John J, Jabbar J, Badjatia N, Rossi MJ, Lai WKM, Pugh BF.
          </small>
          <div class="d-flex">
            <a
              class="publinks"
              href="https://pubmed.ncbi.nlm.nih.gov/35483960/"
              title="project website"
            >
              View <i class="fas fa-external-link-alt"></i
            ></a>
            &nbsp; &nbsp;
            <a
              class="publinks"
              href="https://genome.cshlp.org/content/32/5/878.long"
              title="pubmed link"
            >
              PDF <i class="fas fa-file-pdf"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="row publication">
        <div class="col-md-1 number">
          <h6>02</h6>
        </div>
        <div class="col-md-11">
          <h6>
            PEGR: a flexible management platform for reproducible epigenomic and
            genomic research.
          </h6>
          <small>
            Shao D, Kellogg GD, Nematbakhsh A, Kuntala PK, Mahony S, Pugh BF,
            Lai WKM.
          </small>
          <!-- <hr /> -->
          <div class="d-flex">
            <a
              class="publinks"
              href="https://pubmed.ncbi.nlm.nih.gov/35440038/"
              title="project website"
            >
              View <i class="fas fa-external-link-alt"></i
            ></a>
            &nbsp; &nbsp;
            <a
              class="publinks"
              href="https://genomebiology.biomedcentral.com/articles/10.1186/s13059-022-02671-5"
              title="pubmed link"
            >
              PDF <i class="fas fa-file-pdf"></i
            ></a>
          </div>
        </div>
      </div>

      <!-- <div class="publication"></div> -->

      <div class="row publication">
        <div class="col-md-1 number">
          <h6>03</h6>
        </div>
        <div class="col-md-11">
          <h6>
            STENCIL: A web templating engine for visualizing and sharing life
            science datasets.
          </h6>
          <small>
            Sun Q, Nematbakhsh A, Kuntala PK, Kellogg G, Pugh BF, Lai WKM.
          </small>
          <!-- <hr /> -->
          <div class="d-flex">
            <a
              class="publinks"
              href="https://pubmed.ncbi.nlm.nih.gov/35139076/"
              title="project website"
            >
              View <i class="fas fa-external-link-alt"></i
            ></a>
            &nbsp; &nbsp;
            <a
              class="publinks"
              href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1009859"
              title="pubmed link"
            >
              PDF <i class="fas fa-file-pdf"></i
            ></a>
          </div>
        </div>
      </div>

      <!-- <div class="publication"></div> -->

      <div class="row publication">
        <div class="col-md-1 number">
          <h6>04</h6>
        </div>
        <div class="col-md-11">
          <h6>
            Ssl2/TFIIH function in transcription start site scanning by RNA
            polymerase II in Saccharomyces cerevisiae.
          </h6>
          <small>
            Zhao T, Vvedenskaya IO, Lai WK, Basu S, Pugh BF, Nickels BE, Kaplan
            CD.
          </small>
          <!-- <hr /> -->
          <div class="d-flex">
            <a
              class="publinks"
              href="https://pubmed.ncbi.nlm.nih.gov/34652274/"
              title="project website"
            >
              View <i class="fas fa-external-link-alt"></i
            ></a>
            &nbsp; &nbsp;
            <a
              class="publinks"
              href="https://elifesciences.org/articles/71013"
              title="pubmed link"
            >
              PDF <i class="fas fa-file-pdf"></i
            ></a>
          </div>
        </div>
      </div>

      <!-- <div class="publication"></div> -->

      <div class="row publication">
        <div class="col-md-1 number">
          <h6>05</h6>
        </div>
        <div class="col-md-11">
          <h6>
            A ChIP-exo screen of 887 Protein Capture Reagents Program
            transcription factor antibodies in human cells.
          </h6>
          <small>
            Lai WKM, Mariani L, Rothschild G, Smith ER, Venters BJ, Blanda TR,
            Kuntala PK, Bocklund K, Mairose J, Dweikat SN, Mistretta K, Rossi
            MJ, James D, Anderson JT, Phanor SK, Zhang W, Zhao Z, Shah AP,
            Novitzky K, McAnarney E, Keogh MC, Shilatifard A, Basu U, Bulyk ML,
            Pugh BF.
          </small>
          <!-- <hr /> -->
          <div class="d-flex">
            <a
              class="publinks"
              href="https://pubmed.ncbi.nlm.nih.gov/34426512/"
              title="project website"
            >
              View <i class="fas fa-external-link-alt"></i
            ></a>
            &nbsp; &nbsp;
            <a
              class="publinks"
              href="https://genome.cshlp.org/content/31/9/1663.long"
              title="pubmed link"
            >
              PDF <i class="fas fa-file-pdf"></i
            ></a>
          </div>
        </div>
      </div>

      <!-- <div class="publication"></div> -->

      <!--div class="publication">
        {% for publication in site.data.publications.publications %}
        {% assign namefive = publicaiton.name[5] %}
        {% assign authorfive = publicaiton.author[5] %}
        <h6>{{ publication.name}}</h6>
        <small>
          {{ publication.author }}
        </small>
        <hr>
        <div class="d-flex">
          <a class="publinks" href="{{ publication.url }}" title="project website" ><i class="fas fa-external-link-alt"></i></a>
          <a class="publinks" href="https://doi.org/10.1101/2020.06.08.140046" title="pubmed link"><i class="fas fa-file-pdf"></i></a>
        </div>
        <hr>
        {% endfor %}
      </div-->

      <!--div class="publication">
        {% for publication in site.data.publications.publications %}
        <h6>{{ publication.name1 }}</h6>
        {% endfor %}
        {% for publication in site.data.publications.publications %}
        <small>
          {{ publication.author1 }}
        </small>
        {% endfor %}
        <hr>
        <div class="d-flex">
          <a class="publinks" href="{{ publication.url1 }}" title="project website" ><i class="fas fa-external-link-alt"></i></a>
          <a class="publinks" href="https://doi.org/10.1101/2020.06.08.140046" title="pubmed link"><i class="fas fa-file-pdf"></i></a>
        </div>
      </div-->
    </div>
    <!--ul>
      {% for publication in site.data.publications.publications %}
        <li>{{ publication.name }}</li>
      {% endfor %}
    </ul-->

    <!-- Section -->
    <!-- <div class="">
      <h4>Latest</h4>
      <div class="publication">
        <h6>Title</h6>
        <small>
        Authors
        </small>
        <hr>
        <div class="d-flex">
          <a class="publinks" href="#" title="project website" ><i class="fas fa-external-link-alt"></i></a>
          <a class="publinks" href="#" title="pubmed link"><i class="fas fa-file-pdf"></i></a>
        </div>
      </div>

      <div class="publication">
        <h6>Title</h6>
        <small>
        Authors
        </small>
        <hr>
        <div class="d-flex">
          <a class="publinks" href="#" title="pubmed link"><i class="fas fa-file-pdf"></i></a>
        </div>
      </div>

    </div>
 -->
    <br />
    <!-- <hr /> -->
    <!-- Section -->
    <h5 class="margin-top-40">
      Complete list of publications :
      <a
        class="NCBI"
        href="https://www.ncbi.nlm.nih.gov/sites/myncbi/benjamin.pugh.1/bibliography/40517395/public/?sort=date&direction=descending"
        target="_blank"
        >NCBI <i class="fas fa-external-link-alt"></i
      ></a>
    </h5>
  </div>
</div>
