
<section id="footer">
  <div class="container-footer">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-3">
      <h1>Join Us !</h1>
      <p style="font-size: 14px">
        We are looking for Undergrad and grad students!
      </p>
      <p style="font-size: 14px">
        460A, 215 Tower Rd, Ithaca, NY 14853 Cornell University.
      </p>
      <small class="d-block mb-3" id="copyright" style="color: white;"></small>
      <span>
        <a class="social-icons" href="{{ site.github }}"
          ><i class="fab fa-github" style="color: rgb(255, 255, 255)"></i
        ></a>
        <a class="social-icons" href="{{ site.twitter }}"
          ><i class="fab fa-twitter" style="color: rgb(255, 255, 255)"></i
        ></a>
      </span>
      </ul>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3">      
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 link-container">
      <h5>Navigation</h5>
      <ul class="list-unstyled quick-links">
      <li><a class="footer-links" href="index.html">Home</a></li>
      <li><a class="footer-links" href="group.html">Group</a></li>
      <li><a class="footer-links" href="publications.html">Publications
      </a></li>
      <li><a class="footer-links" href="resources.html">Resources
      </a></li>
      <li><a class="footer-links" href="positions.html">Positions
      </a></li>

      </ul>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 link-container">
      <h5>Other Tools We Develop</h5>
      <ul class="list-unstyled quick-links">
        <li><a class="footer-links" href="https://github.com/CEGRcode/scriptmanager">ScriptManager</a></li>
        <li><a class="footer-links" href="https://github.com/seqcode/pegr">PEGR</li>
        <li><a class="footer-links" href="https://github.com/CEGRcode/stencil">STENCIL</li>
        <li><a class="footer-links" href="https://github.com/CEGRcode/GenoPipe">GenoPipe
        </a></li>
      </ul>
      </div>
    
  </div>

</section>

<script>
  var dt = new Date();
  document.getElementById("copyright").innerHTML =
    "&copy; " + dt.getFullYear() + " Pugh Lab";
</script>
