<div class="container">
  <header class="py-3">
    <img class="bg-img" src="assets/images/background_image.jpg" />
    <div class="row flex-nowrap align-items-center header-content">
      <div class="col-6 text-left">
        <h1><a class="blog-header-logo" href="/">Pugh Lab</a></h1>
        <p>
          Department of Molecular Biology and Genetics <br />
          <span>Cornell University</span>
          <br />
          <span>
            <a class="social-icons" href="{{ site.github }}"
              ><i class="fab fa-github" style="color: white"></i
            ></a>
            <a class="social-icons" href="{{ site.twitter }}"
              ><i class="fab fa-twitter" style="color: white"></i
            ></a>
          </span>
        </p>
      </div>
      <div class="col"></div>
      <div class="col-5">
        <img
          class="cornell-logo float-end"
          src="../assets/images/cornell_logo_simple_white.svg"
          alt="cornell red logo"
          height="auto"
        />
      </div>
    </div>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </header>
</div>
