<div class="container">
  <header class="py-3">
      <div class="row flex-nowrap align-items-center">
        <div class="col-6 text-left">
          <h1><a class="blog-header-logo text-dark" href="/">Pugh Lab</a></h1>
          <p>Department of Molecular Biology and Genetics
            <br> <span>Cornell University</span>
            <br>
            <span>
              <a class="social-icons" href="{{ site.github }}"><i class="fab fa-github"></i></a>
              <a class="social-icons" href="{{ site.twitter }}"><i class="fab fa-twitter"></i></a>
            </span>
          </p>
        </div>
        <div class="col">
        </div>
        <div class="col-5">
          <img src="../assets/images/cornell_logo.svg" alt="cornell red logo" width="100%" height="auto">
        </div>
      </div>
    </header>
</div>
