<div class="">
  <header class="py-3">
      <div class="row flex-nowrap  align-items-center">
        <div class="col-6 text-left">
          <h1><a class="blog-header-logo text-dark" href="/">Pugh Lab</a></h1>
          <p>Department of Molecular Biology and Genetics
            <br> <span>Cornell Institute of Biotechnology</span>
            <br>
            <span>
              <a class="social-icons" href="{{ site.github }}"><i class="fab fa-github"></i></a>
              <a class="social-icons" href="{{ site.twitter }}"><i class="fab fa-twitter"></i></a>
            </span>
          </p>
        </div>
        <div class="col-2 pt-1">
        </div>
        <div class="col-4 d-flex align-items-center">
          <img src="../assets/images/cornell_logo.svg" alt="cib red logo">
        </div>
      </div>
    </header>
</div>
