<div class="rounded my-3">
  <!-- Slideshow container -->
  <div class="slideshow-container">

    <!-- Full-width images with number and caption text  -->
    <!-- Update carousel by committing images and adding the paths and descriptions to _data/imgcarousel.yml -->
    {% for item in site.data.imgcarousel %}
      <div class="mySlides">
        <img src="{{ item.path }}" class="slide-images" title="{{ item.description }}" />
      </div>
    {% endfor %}

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <!-- The dots/circles -->
  <div style="text-align: center">
    {% for item in site.data.imgcarousel %}
      <span class="dot" onclick="currentSlide({{ forloop.index }})"></span>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }

  // Automatic slideshow
  // var slideIndex = 0;
  // showSlides();
  //
  // function showSlides() {
  //   var i;
  //   var slides = document.getElementsByClassName("mySlides");
  //   for (i = 0; i < slides.length; i++) {
  //     slides[i].style.display = "none";
  //   }
  //   slideIndex++;
  //   if (slideIndex > slides.length) {slideIndex = 1}
  //   slides[slideIndex-1].style.display = "block";
  //   setTimeout(showSlides, 3000); // Change image every 3 seconds
  // }
</script>
